# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/Java1/Java-d1/javaday1/nbproject/private/
/Java1/Java-d1/javaday1/build/
/Java1/javaday2/nbproject/private/
/Java1/javaday2/build/
/Java1/javad3/nbproject/private/
/Java1/javad3/build/
/Java1/Java_day4/nbproject/private/
/Java1/Java_day4/build/
/Java1/java_day5/nbproject/private/
/Java1/java_day5/build/
/Java1/btap/nbproject/private/
/Java1/btap/build/
/Java2/java2_day1/nbproject/private/
/Java2/java2_day1/build/
/Java2/T2207M_Java2_Ngay02_ComboBox_Menu_Panels_Table/T2207M_Java2_Ngay02_ComboBox_Menu_Panels_Table/nbproject/private/
/Java2/T2207E_Java2_Ngay02/nbproject/private/
/Java2/Chuabaitap_Quanlydanhba/build/
/Java2/Chuabaitap_Quanlydanhba/nbproject/private/
/Java2/T2207E_Java2_Ngay04_DocghiFile/nbproject/private/
/Java2/java2_day4/T2207E_Java2_Ngay02/nbproject/private/
/Java2/java2_day4/T2207E_Java2_Ngay04_DocghiFile/nbproject/private/
/Java2/java2_docghitep/nbproject/private/
/Java2/T2207E_Java2_Ngay04_Quanlydanhba_Tep/build/
/Java2/T2207E_Java2_Ngay04_Quanlydanhba_Tep/nbproject/private/
/Java2/T2207E_Java2_Ngay05_MultiThread/build/
/Java2/T2207E_Java2_Ngay05_MultiThread/nbproject/private/
/Java2/T2207E_Java2_Ngay05_Quanlydanhba/build/
/Java2/T2207E_Java2_Ngay05_Quanlydanhba/nbproject/private/
/Java2/Java_KetnoiCSDL_01/build/
/Java2/Java_KetnoiCSDL_01/nbproject/private/
/Java2/D2207E_Java_Ngay09/nbproject/private/
/Java2/D2207E_Java_Ngay09/build/
/Java2/T2207E_Java2_Ngay06_JDBC/build/
/Java2/T2207E_Java2_Ngay06_JDBC/nbproject/private/
/Java2/DemoJDBC/nbproject/private/
/Java2/T2207E_Java2_Ngay05_MultiThread/DemoJDBC_MVC/build/
/Java2/T2207E_Java2_Ngay05_MultiThread/DemoJDBC_MVC/dist/
/Java2/T2207E_Java2_Ngay05_MultiThread/DemoJDBC_MVC/nbproject/private/
/Java2/T2207E_Java2_Ngay04_Quanlydanhba_Tep/CSDL_Hinhanh/build/
/Java2/T2207E_Java2_Ngay04_Quanlydanhba_Tep/CSDL_Hinhanh/nbproject/private/
/Java2/T2207E_Java2_Ngay05_Quanlydanhba/T2207E_Java2_Ngay8_Sua_lLop_CSDL/build/
/Java2/T2207E_Java2_Ngay05_Quanlydanhba/T2207E_Java2_Ngay8_Sua_lLop_CSDL/nbproject/private/
/Java2/T2207E_Java2_Ngay05_Quanlydanhba/T2207E_Java2_Ngay08_Kiemtra_Xoalophoc/build/
/Java2/T2207E_Java2_Ngay05_Quanlydanhba/T2207E_Java2_Ngay08_Kiemtra_Xoalophoc/dist/
/Java2/T2207E_Java2_Ngay05_Quanlydanhba/T2207E_Java2_Ngay08_Kiemtra_Xoalophoc/nbproject/private/
/Java2/Java_KetnoiCSDL_02_Them_Sua_Xoa/DemoJDBC/build/
/Java2/Java_KetnoiCSDL_02_Them_Sua_Xoa/DemoJDBC/nbproject/private/
/Java2/exam/nbproject/private/
/Java2/T2207E_Java2_Ngay10_ChuabaiKtra/build/
/Java2/T2207E_Java2_Ngay10_ChuabaiKtra/nbproject/private/
/Java2/exam/build/
/Java2/exam_java2/nbproject/private/
